<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,0" />
</head>

<body>


    <div id="app">
        <h2>Todo App</h2>
        <ul>
            <div>
                <input type="text" placeholder="Enter your work" v-model="newTodo">
                <button class="material-symbols-outlined" @click="saveTodo()">add</button>
            </div>
            <li refer="item" v-for="(r,index) in todoes">
                {{r}}<button class="material-symbols-outlined" @click="removeTodo(index)">delete</button>
            </li>


        </ul>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="scripts/scipt.js"></script>
</body>

</html>